Repository WyriHaximus/reactphp-http-middleware-session, pull requests merged in 2021-03, with the labels that each got.

#37 Bump to PHP 7.4 and update to next gen QA
  .github/workflows/ci.yml
  .php_cs
  .scrutinizer.yml
  .travis.yml
  LICENSE
  Makefile
  README.md
  composer-require-checker.json
  composer.json
  composer.lock
  phpcs.xml.dist
  phpstan.neon
  psalm.xml
  src/Session.php
  src/SessionId/RandomBytes.php
  src/SessionIdInterface.php
  src/SessionMiddleware.php
  tests/InspectableArrayCache.php
  tests/SessionId/RandomBytesTest.php
  tests/SessionMiddlewareTest.php
  tests/SessionTest.php
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, Documentation 📚, JSON 👨‍💼, MarkDown 📝, NEON 🦹‍♂️, PHP 🐘, Source 🔮, Tests 🧪, YAML 🍄

#42 upgrade hansott/psr-cookies from 2.0 to 3.0
  composer.json
  composer.lock
  src/SessionMiddleware.php
  tests/SessionMiddlewareTest.php
Labels: Dependencies 📦, JSON 👨‍💼, PHP 🐘, Source 🔮, Tests 🧪

#43 Small code style correction
  src/SessionMiddleware.php
Labels: PHP 🐘, Source 🔮

#44 Auto detect PHP version on CI
  .editorconfig
  .github/workflows/ci.yml
Labels: CI 🚧, Configuration ⚙, YAML 🍄

#45 Add PHP 8 support
  .github/workflows/ci.yml
  composer.json
  composer.lock
Labels: CI 🚧, Configuration ⚙, Dependencies 📦, JSON 👨‍💼, PHP 🐘, YAML 🍄
